article {
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

body {
    display: flex;
    flex-flow: column wrap;
    background-image: url(./Assets/wallpaper_rick.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

section {
display: grid;
grid-template-columns: 18rem 18rem 18rem 18rem;
}

/***Button***/

.btn-6 {
    background: #8ce436;
    line-height: 40px;
    padding: 0;
    border: none;
    box-shadow: 0 0 5px #8ce436;
    color: rgb(240, 240, 240);
    margin-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.btnClose {
    background: #8ce436;
    line-height: 40px;
    padding: 0;
    border: none;
    box-shadow: 0 0 5px #8ce436;
    color: rgb(240, 240, 240);
    margin-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.btnClose:hover {
    color: rgb(240, 240, 240);
}

.btn-6:hover {
    background: transparent;
    color: rgb(240, 240, 240);
}


.btn-6:before {
    right: 0;
    top: 0;
    transition: all 500ms ease;
    color: rgb(240, 240, 240);
}

.btn-6:after {
    left: 0;
    bottom: 0;
    transition: all 500ms ease;
    color: rgb(240, 240, 240);
}

.btn-6:hover:before {
    transition: all 500ms ease;
    height: 100%;
    color: rgb(240, 240, 240);
}

.btn-6:hover:after {
    transition: all 500ms ease;
    height: 100%;
    color: rgb(240, 240, 240);
}

.btn-6 span:before,
.btn-6 span:after {
    position: absolute;
    content: "";
    background: #8ce436;
    box-shadow: 0 0 5px #8ce436;
    color: rgb(240, 240, 240);
}

.btn-6 span:before {
    left: 0;
    top: 0;
    width: 0%;
    height: 2px;
    transition: all 500ms ease;
    color: rgb(240, 240, 240);
}

.btn-6 span:after {
    right: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    transition: all 500ms ease;
    color: rgb(240, 240, 240);
}

.btn-6 span:hover:before {
    width: 100%;
    color: rgb(240, 240, 240);
}

.btn-6 span:hover:after {
    width: 100%;
    color: rgb(240, 240, 240);
}



.card {
    border-radius: 25rem;
    margin-top: 2rem;
}

.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    -o-object-fit: cover;
    object-fit: cover;
}

.cardCustom {
    margin: 2vh;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    box-shadow: 5px 5px 5px black;
}



div#acabarJuego {
    display: flex;
    flex-flow: column wrap;
}

div.cronometro,
div.utilidades,
div#hms,
div#infojuego,
.msjFinal {
    margin: 0 auto;
    margin-bottom: 2vh;
}




h1 {
    margin: 0 auto;
    font-weight: 300;
    text-shadow: 2px 2px 3px white;
    margin-bottom: 2vh;
    color: chartreuse;
    text-align: center;
}

h5{
    color: black;
}

#infoJuegoFinalizado {
    display: none;
}


.msjFinal {
    font-size: 3rem;
    font-weight: 100;
    text-shadow: 2px 2px 3px chartreuse;
    margin-bottom: 2vh;
    color: white;
}

.texto-instrucciones{
    color: black
}

