/* article {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

body {
    display: flex;
    flex-flow: column wrap;
}

section {
    display: grid;
    grid-template-columns: 18rem 18rem 18rem 18rem;
}

/*****Buton*****/

.btn-6 {
    background: #8ce436;
    line-height: 40px;
    padding: 0;
    border: none;
    box-shadow: 0 0 5px #8ce436;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #fff;
  }
  .btn-6 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-6:hover{
    background: transparent;
  }
  .btn-6:before,
  .btn-6:after {
    position: absolute;
    content: "";
    height: 0%;
    width: 2px;
    background: #8ce436;
   box-shadow: 0 0 5px #8ce436;
  }
  .btn-6:before {
    right: 0;
    top: 0;
    transition: all 500ms ease;
  }
  .btn-6:after {
    left: 0;
    bottom: 0;
    transition: all 500ms ease;
  }
  .btn-6:hover:before {
    transition: all 500ms ease;
    height: 100%;
  }
  .btn-6:hover:after {
    transition: all 500ms ease;
    height: 100%;
  }
  .btn-6 span:before,
  .btn-6 span:after {
    position: absolute;
    content: "";
    background: #8ce436;
    box-shadow: 0 0 5px #8ce436;
  }
  .btn-6 span:before {
    left: 0;
    top: 0;
    width: 0%;
    height: 2px;
    transition: all 500ms ease;
  }
  .btn-6 span:after {
    right: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    transition: all 500ms ease;
  }
  .btn-6 span:hover:before {
    width: 100%;
  }
  .btn-6 span:hover:after {
    width: 100%;
  }

.card {
    border-radius: 25rem;
    margin-top: 2rem;
}

.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    -o-object-fit: cover;
    object-fit: cover;
}

.cardCustom {
    margin: 2vh;
    border-width: 3px black;
    border-style: solid;
    box-shadow: 5px 5px 5px black;
}

div.cronometro,
div.utilidades,
div#hms {
    margin: 0 auto;
}


h1 {
    margin: 0 auto;
    font-weight: 300;
    font-size: 3rem;
    text-shadow: 2px 2px chartreuse;
}


#infoJuegoFinalizado {
    display: none;
}

#instrucciones {
    margin-top: 1rem;
    
}
ul li {
    margin-left: 3rem;
    list-style: none;
    font-size: 1.2rem;
    font-weight: 600;
}
