article {
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

body {
  display: flex;
  flex-flow: column wrap;
  background-image: url(./Assets/wallpaper_rick.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

section {
  display: grid;
  grid-template-columns: 18rem 18rem 18rem 18rem;
}

/***Button***/
.botonesJuego {
  display: flex;
  justify-content: center;
}

.botonesJuego div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#botonReiniciar {
  margin-left: 1rem;
  margin-right: 1rem;
}

.btn-6 {
  background: #8ce436;
  line-height: 40px;
  padding: 0;
  border: none;
  box-shadow: 0 0 5px #8ce436;
  color: #f0f0f0;
  margin-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.btnClose {
  background: #8ce436;
  line-height: 40px;
  padding: 0;
  border: none;
  box-shadow: 0 0 5px #8ce436;
  color: #f0f0f0;
  margin-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.btnClose:hover {
  color: #f0f0f0;
}

.btn-6:hover {
  background: transparent;
  color: #f0f0f0;
}

.btn-6:before {
  right: 0;
  top: 0;
  transition: all 500ms ease;
  color: #f0f0f0;
}

.btn-6:after {
  left: 0;
  bottom: 0;
  transition: all 500ms ease;
  color: #f0f0f0;
}

.btn-6:hover:before {
  transition: all 500ms ease;
  height: 100%;
  color: #f0f0f0;
}

.btn-6:hover:after {
  transition: all 500ms ease;
  height: 100%;
  color: #f0f0f0;
}

.btn-6 span:before,
.btn-6 span:after {
  position: absolute;
  content: "";
  background: #8ce436;
  box-shadow: 0 0 5px #8ce436;
  color: #f0f0f0;
}

.btn-6 span:before {
  left: 0;
  top: 0;
  width: 0%;
  height: 2px;
  transition: all 500ms ease;
  color: #f0f0f0;
}

.btn-6 span:after {
  right: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  transition: all 500ms ease;
  color: #f0f0f0;
}

.btn-6 span:hover:before {
  width: 100%;
  color: #f0f0f0;
}

.btn-6 span:hover:after {
  width: 100%;
  color: #f0f0f0;
}

img {
  width: 15.28rem;
  height: 15rem;
}

.card {
  border-radius: 25rem;
  margin-top: 2rem;
}

.cardCustom {
  padding: 0;
  margin: 1.21rem;
  border-color: black;
  border-width: 3px;
  border-style: solid;
  box-shadow: 5px 5px 5px black;
}

.card-img-top {
  width: 15.28rem;
  height: 15rem;
  -o-object-fit: cover;
  object-fit: cover;
  background-size: cover;
}

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

div#acabarJuego {
  display: flex;
  flex-flow: column wrap;
}

div.cronometro,
div.utilidades,
div#hms,
div#infojuego,
.msjFinal {
  margin: 0 auto;
  margin-bottom: 2vh;
}

h1 {
  margin: 0 auto;
  padding-top: 1rem;
  margin-right: 1.5rem;
  font-weight: 300;
  font-size: 3rem;
  text-shadow: 2px 2px 3px white;
  margin-bottom: 2vh;
  color: chartreuse;
  text-align: center;
}

h5 {
  color: black;
}

div#acabarJuego {
  display: flex;
  flex-flow: column wrap;
}

div.setName {
  margin: 2vh auto;
  font-weight: 100;
}

div.utilidades {
  display: flex;
  flex-flow: column wrap;
}

h1 {
  margin: 0 auto;
  font-weight: 300;
  text-shadow: 2px 2px 3px white;
  margin-bottom: 2vh;
  color: chartreuse;
}

#infoJuegoFinalizado {
  display: none;
}

img#imgundefined {
  height: 20vh;
  width: 20vw;
}

.msjFinal {
  font-size: 3rem;
  font-weight: 100;
  text-shadow: 2px 2px 3px chartreuse;
  margin-bottom: 2vh;
  color: white;
  font-size: 3rem;
  font-weight: 100;
  text-shadow: 2px 2px 3px chartreuse;
  margin-bottom: 2vh;
  color: white;
}

.texto-instrucciones {
  color: black;
}

.setName {
  display: flex;
  flex-flow: column wrap;
  margin: 0 auto;
  font-weight: 300;
  text-shadow: 1px 1px 3px white;
  margin-bottom: 2vh;
  color: chartreuse;
}

label.setname {
  margin-bottom: 0;
}

div#hms {
  font-weight: 300;
  text-shadow: 1px 1px 3px white;
  margin-bottom: 2vh;
  color: chartreuse;
}

input#playerName {
  background-color: #A6EEE6FF;
  border-radius: 3px;
  border-color: black;
  border: solid;
  border-width: 3px;
}

#msjRanking,
ol {
  margin: 0 auto;
  font-weight: 300;
  text-shadow: 1px 1px 3px white;
  margin-bottom: 2vh;
  color: chartreuse;
}

div#scoreBoard {
  display: flex;
  flex-flow: wrap column;
}/*# sourceMappingURL=main.css.map */